*{
    padding: 0;
    margin: 0;
    border: box-border;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.navbar{
    height:30px;
    background-color: black;
    display: flex;
    justify-content: center;
    gap:400px;
    font-size: 18px;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
    
}
.navbar a{
    text-decoration: none;
    color: white;
}

    body{
    
        background-image: url('coffee1.jpeg');
        background-size: cover;
       /* background-position: center;
        background-repeat: no-repeat;*/
       background-color: black
    }

.boxes{
    display: flex;
    /*flex-direction: row;*/
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    flex-wrap: wrap-reverse;
}
.about{
    height:400px;
    width:300px;
    padding: 20px 50px;
    border:2px solid transparent;
    background-color:rgba(0, 0, 0, 0.144);
    border-radius: 15%;
     top: 40%;
   position: absolute;
   right: 0;
}
p{
    margin-bottom: 40px;
}
h1{
    font-size: 200px;
    color: whitesmoke;
   /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function: steps(5);*/
    transform: skew(10deg);
}
h2{
    font-size: 30px;
    color: whitesmoke;
    transform: skew(10deg);
    margin-left: 20px;
}
@keyframes for_h2{
    from{
        opacity: 0;
        font-size: 100px;
    }
    to{
       opacity: 1;
       font-size: 30px;
    }
    
}
h2{
    animation:for_h2 1s linear  2 alternate-reverse;
}
